<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask APP</title>

</head>

<body>
    <div>
        <h1>This is my first app on Flask</h1>
        <h2>This is 2 heading </h2>
        <h3>This is 3 heading</h3>
        <h4>This is 4 heading</h4>
        <h5>this is 5 heading</h5>
        <h6>this is 6 heading</h6>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita ad a vero, quae quaerat, animi inventore
            doloribus enim nesciunt odio nobis velit dicta labore ullam provident veritatis quidem porro nemo?
        </p>
        <img src="../static/Img.jpg" alt="nophoto">
        <ol>
            <li>Oota</li>
            <li>thindi</li>
        </ol>
        <ul>
            <li>Vann</li>
            <li>Takk</li>
            <li>Ha det bra!!</li>
        </ul>
    </div>
    <div>
        <input type="text" placeholder="Can u write ur name">
        <input type="text">
        <input type="date">
        <input type="password" class="time">
    </div>
    <div><button>Click Me</button></div>

</body>

</html>